# Ignore any local Vagrant data
.vagrant

# Ignore any generated evidence files
evidence-*/
evidence-*.zip

# Ignore local configuration
config.yml

# Rubymine
.idea/*

libraries/*

# Ignore any pcap folder for testing
pcap/*